.jun-meter {
  position: absolute;
  width: 640px;
  height: 640px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/ring.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.jun-time-rect {
  position: absolute;
  width: 30px;
  height: 80px;
  left: 275px;
  top: 180px;
  background-image: url("../img/rect.svg");
  background-size: 40px 40px;
}

.jun-time-h-h {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 140px;
  top: 170px;
  background-image: url("../img/8.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.jun-time-h-l {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 200px;
  top: 170px;
  background-image: url("../img/8.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.jun-time-m-h {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 290px;
  top: 170px;
  background-image: url("../img/8.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.jun-time-m-l {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 350px;
  top: 170px;
  background-image: url("../img/8.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.jun-time-s-h {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 430px;
  top: 208px;
  background-image: url("../img/8.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.jun-time-s-l {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 470px;
  top: 208px;
  background-image: url("../img/8.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.jun-calendar-date {
  position: absolute;
  width: 120px;
  height: 30px;
  left: 460px;
  top: 310px;
  line-height: 30px;
  font-size: 20px;
  text-align: center;
}

.jun-date {
  position: absolute;
  width: 120px;
  height: 30px;
  left: 460px;
  top: 345px;
  line-height: 30px;
  font-size: 20px;
  text-align: center;
}

.jun-human {
  position: absolute;
  width: 150px;
  height: 150px;
  left: 250px;
  top: 280px;
  background-image: url("../img/human.gif");
  background-repeat: no-repeat;
  background-size: 100%;
}
